body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #e9e9e9;
}

a {
    text-decoration: none !important;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
}


/** default end**/

.logo {
    padding: 16px 0;
}

.logo img {
    width: 100%;
    max-width: 139px;
}


/** transition**/

.data-bx .table-bordered>tbody>tr,
.top-nav>li>a,
.fav-ico,
.two>button,
.custom-nav .dropdown-menu>li>a,
.tab-edit .panel-title>a>i {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


/** transition end**/


/** top nav **/

.top-nav-bx {
    background: #fff;
}

.top-nav {
    text-align: right;
    padding: 0;
    margin: 0;
}

.top-nav>li {
    display: inline-block;
}

.top-nav>li>a {
    padding: 12px 20px;
    display: block;
    background: #e5e5e5;
    color: #000;
    border-radius: 4px;
}


/**.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>li>a:hover.cont-supp, .top-nav>li>a:visited.cont-supp, .top-nav>li>a:visited.cont-supp{background: #5cb85c; color: #fff;}
**/

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>li>a:hover.cont-supp {
    background: #5cb85c;
    color: #fff;
}

.top-nav>li>a:hover i,
.top-nav>li>a:hover i.fa-star,
.top-nav>li>a:hover b,
.top-nav>li>a:focus i.fa-star,
.top-nav>li>a:focus b {
    color: #fff
}

.top-nav>li>a:hover.name-bx2+b {
    color: #000;
}

.top-nav>li>a span {
    font-size: 12px;
}

.top-nav>li>a span.name-bx {
    text-transform: uppercase;
    ;
}

.top-nav li>a i {
    display: inline-block;
    padding: 0 3px;
    font-size: 16px;
}

.top-nav li>a i.fa-star {
    color: #f1c233;
}

.top-nav>li>a.cont-supp {
    background: #f0ad4e;
    color: #fff;
}

.top-nav>li>a.cont-supp b {
    color: #fff;
}

.top-nav .dropdown-menu>li>a {
    font-size: 12px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
}

.top-nav .dropdown-menu>li>a:hover {
    background: #337ab7;
    color: #fff;
}

.top-nav>li>a span.name-bx2,
.top-nav>li>a>b {
    text-transform: uppercase;
    color: #000;
    padding-left: 3px;
}

.pro-img-bx {
    display: inline-block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    background: #ddd;
    display: inline-block;
    margin-right: 10px;
}


/** top nav end **/

.custom-navbar {
    background: #5bc0de;
    height: auto;
    min-height: inherit;
    border-radius: 0;
    margin-bottom: 0;
}

.custom-nav>li>a {
    font-size: 12px;
    font-weight: bold;
    color: #fff !important;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-right: 1px solid #ceecf5;
}

.user-box {
    background: #fff !important;
}

.custom-navbar .navbar-nav>.open>a,
.custom-navbar .navbar-nav>.open>a:focus,
.custom-navbar .navbar-nav>.open>a:hover {
    background: #56b6d2;
}

.custom-nav .open>a,
.custom-nav .open>a:focus,
.custom-nav .open>a:hover {
    border-color: #56b6d2;
    border-right-color: #ceecf5;
}

.custom-nav .dropdown-menu>li>a {
    font-size: 12px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
}

.custom-nav .dropdown-menu>li>a:hover {
    background: #337ab7;
    color: #fff;
}

.md-bg {
    background: #e9e9e9;
}

.brd-crmb {
    padding: 10px 0;
    background: #e9e9e9;
}

.brd-crmb li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 15px;
}

.brd-crmb li>a {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    color: #1f1f1f;
}

.btn {
    border: none;
}

.btn:focus {
    outline: none;
}

.brd-crmb li::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 10px;
    background: #1f1f1f;
    transform: skewX(-30deg);
    top: 5px;
}

.brd-crmb li:last-child::before {
    width: 0;
}

.main-strip {
    background: #f6f6f6;
}

.dash-strip {
    background: #f6f6f6;
    padding: 7px 50px;
    float: left;
    width: 100%;
}

.dash-strip button {
    font-size: 16px;
    font-weight: normal;
    padding: 9px 15px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.fav-ico:hover,
.fav-ico:visited,
.fav-ico:focus {
    background-color: #333;
    color: #fff;
}


/****/

.cont-box {
    padding: 50px 100px;
    float: left;
    width: 100%;
}

.pge-hd {
    margin-bottom: 50px;
}

.sec-title {
    font-size: 20px;
    color: #5f5f5f;
    margin: 0;
}

.btn-style.btn,
.btn-style2.btn {
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    border-color: #3b763b;
}

.cr-user .btn:hover,
.cr-user .btn:focus,
.btn-style2.btn:hover,
.btn-style2.btn:focus {
    background: #5cb85c;
}

.data-bx {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.table-responsive {
    padding-bottom: 26px !important;
}

.data-bx2 {
    margin-bottom: 0;
}

.data-bx2 .table-responsive {
    padding-bottom: 0 !important;
}


/** table**/

.data-bx .table>caption+thead>tr:first-child>td,
.data-bx .table>caption+thead>tr:first-child>th,
.data-bx .table>colgroup+thead>tr:first-child>td,
.data-bx .table>colgroup+thead>tr:first-child>th,
.data-bx .table>thead:first-child>tr:first-child>td,
.data-bx .table>thead:first-child>tr:first-child>th {}

.data-bx thead {
    background: #337ab7;
}

.data-bx .table-bordered>tbody>tr>td,
.data-bx .table-bordered>tbody>tr>th,
.data-bx .table-bordered>tfoot>tr>td,
.data-bx .table-bordered>tfoot>tr>th,
.data-bx .table-bordered>thead>tr>td,
.data-bx .table-bordered>thead>tr>th,
.data-bx .table-bordered {
    border-color: #fff;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.data-bx thead>tr>th {
    font-size: 17px;
    font-weight: bold !important;
    color: #fff;
}

.data-bx .table-bordered>tbody>tr {
    background: #dbe5f1;
}

.data-bx .table-bordered>tbody>tr:nth-child(2n+1) {
    background: #b8cce4;
}

.data-bx .table-bordered>tbody>tr:hover {
    background: #337ab7;
    color: #fff;
}

.data-bx .check-bx {
    text-align: center;
}

.checked-bg {
    background: #4f81bd;
}

.two .btn {
    background-color: #fff;
    margin-right: 10px;
}

.two .btn:hover {
    background: #5cb85c;
    color: #fff;
}

.two .btn.active,
.two .btn.active {
    background: #95bcf2;
    color: #000;
}

.action-bx {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.action-bx a:focus,
.action-bx a:hover {
    color: #ddd;
}

.action-drop {
    background: #286090;
    color: #fff;
    border: 1px solid #111214;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 8px;
    color: #fff;
}

.action-drop>i {
    font-size: 20px;
}

.ac-custom {
    right: 20px;
    left: inherit;
    background: #337ab7;
}

.ac-custom li>a {
    font-size: 12px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ac-custom li>a i {
    margin-right: 5px;
}


/*** pop up ***/

.cus-form-cont {
    float: left;
    width: 100%;
}

.cus-form-cont div[class^="col-sm"] {
    margin: 20px 0
}

.cus-form-cont div[class^="col-sm"] label {
    font-size: 12px;
    font-weight: 600;
}

.cus-form-cont .checkbox,
.cus-form-cont .radio {
    margin-top: 7px;
    margin-bottom: 7px;
}

.cus-form-ico {
    position: relative;
}

.cus-form-ico>span.inp-icons {
    position: absolute;
    bottom: 8px;
    right: 30px;
}

.cus-form-ico>span>i {
    font-size: 15px;
}

.f-hd {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 10px;
}

.custom-modal .modal-content {
    border-radius: 12px;
}

.custom-modal .modal-body {
    float: left;
    width: 100%;
    background: #fff;
}

.custom-modal .modal-header {
    background: #337ab7;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.custom-modal .modal-footer {
    background: #fff;
    padding-right: 40px;
    border-radius: 0 0 8px 8px;
}

.custom-modal .modal-header button {
    color: #fff;
    opacity: 0.6;
}

.clear-both {
    clear: both;
}

.cus-form-cont div[class^="col-sm"] .form-control {
    font-size: 12px;
}

.cus-form-cont div[class^="col-sm"] div>.checkbox {
    text-align: center;
}

.app-detail-bx {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.app-detail-bx>ul {
    padding: 0;
    margin: 0;
}

.app-detail-bx li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border: 1px solid #a3a3a3;
    color: #575757;
}

.app-detail-bx li>span {
    display: inline-block;
    padding-right: 10px;
    font-weight: normal;
}

.mar-tp20 {
    margin-top: 20px;
}

.view-sla {
    position: absolute;
    top: 0;
    right: 0;
}

.view-sla a {
    font-size: 12px;
    text-decoration: underline;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
}


/** usage history **/

.search-bx {
    float: left;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
}

.w100 {
    width: 100%;
}

.btn-style2 i {
    padding-right: 10px;
}

.search-bx .btn-style2 {
    margin-top: 22px;
}

.btn-style2.btn {
    padding: 6px 30px;
}

.pd-tb40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ac-manage {
    font-size: 14px;
    color: #797979;
    font-weight: 600;
}


/*** new role**/

.cont-box2 {
    padding-left: 40px;
    padding-right: 40px;
}

.add-new-role-bx {
    font-size: 12px;
}

.add-new-role-bx div label {
    font-size: 12px;
    font-weight: 600;
}

.add-new-role-bx .form-control {
    font-size: 12px;
}

.mar-tp15 {
    margin-top: 15px;
}

.mar-tp30 {
    margin-top: 30px;
}

.up-ability {
    float: left;
    width: 1000%;
}

.up-ability>li {
    list-style: none;
    display: inline-block;
}

.activate-btn {
    background: #286090;
    color: #fff;
}

.cus-tabe2 {
    padding-bottom: 0px !important;
}

.cus-tabe2 .table>tbody>tr>td,
.cus-tabe2 .table>tbody>tr>th,
.cus-tabe2 table>tfoot>tr>td,
.cus-tabe2 .table>tfoot>tr>th,
.cus-tabe2 .table>thead>tr>td,
.cus-tabe2 .table>thead>tr>th {
    border: none !important;
    padding: 4px 8px;
}

.cus-tabe2 .form-group {
    margin-bottom: 5px;
}

.cus-tabe2 thead {
    height: 0px;
    overflow: hidden;
    !important;
    display: inline-block;
    width: 100%;
}

.time-ent-hd {
    background: #fff;
    height: 36px;
    padding: 6px 12px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.f-hd2 {
    font-size: 14px;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    margin: 0;
}

.mar-none {
    margin: 0;
}

.mar-btn20 {
    margin-bottom: 20px;
}

.sep-res {
    clear: both;
}

.tble-btm {
    margin-bottom: 50px;
    display: block;
    float: left;
    width: 100%;
}

.btn2 {
    float: left;
}

.btn2>a {
    display: inline-block;
    padding: 13px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}

.create-user-bx {
    text-align: right;
}

.mar-top13 {
    margin-top: 13px;
}

.fix-txt {
    position: absolute;
}

.pagination-bx {
    float: left;
    width: 100%;
    text-align: right;
}

.pagination-bx .pagination>li>a,
.pagination-bx .pagination>li>span {
    background: #f6f6f6;
    font-size: 12px;
    font-weight: 600;
}

.pagination-bx .pagination>li>a:hover {
    background: #337ab7;
    color: #fff;
}

.pagination-bx .pagination {
    margin: 10px 0;
}


/** sort **/

th {
    position: relative;
}

.sort-bx {
    position: absolute;
    right: 4px;
    display: inline-block;
    z-index: 100;
    color: #fff;
}

.sort-bx:hover {
    transition: all 0.2s ease-in-out;
}

.fix-txt2 {
    font-size: 14px;
    padding: 25px 0;
    font-weight: bold;
    display: block;
}

.mar-tp3 {
    margin-top: 3px !important;
}


/** searc-form **/

.search-bx2 {
    padding-left: 0;
    padding-right: 0;
}

.w100 {
    width: 100%;
}

.tab-edit {
    font-size: 12px;
    font-size: normal;
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0
}

.tab-edit .panel-heading {
    padding: 0;
    position: relative;
}

.tab-edit .panel-title>a {
    display: block;
    padding: 20px;
    position: relative;
    font-size: 14px;
}

.tab-edit .panel-title>a>i {
    position: absolute;
    top: 12px;
    right: 60px;
    z-index: 10;
    font-size: 16px;
    color: #333;
    background: #fff;
    padding: 8px 15px;
    border-radius: 4px;
}

.tab-edit .panel-title>a>i:hover {
    background: #e6e6e6;
}

.tab-edit .panel-title>.over-eyecont {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 10px;
}

.f-sec-hd {
    font-size: 14px;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 15px 0;
}

.tab-edit .checkbox+.checkbox,
.tab-edit .radio+.radio {
    margin-top: 10px;
}

.f-two-txt {
    display: inline-block;
    width: 150px;
    font-weight: 600;
    font-size: 12px;
}

.tab-edit input[type=checkbox],
.tab-edit input[type=radio] {
    margin-top: 3px;
}

.tab-edit .checkbox label,
.tab-edit .radio label {
    font-weight: 600;
    font-size: 12px;
}

.time-acc-bx th {
    font-size: 13px;
}

.time-acc-bx .table>tbody>tr>td,
.time-acc-bx .table>tbody>tr>th,
.time-acc-bx .table>tfoot>tr>td,
.time-acc-bx .table>tfoot>tr>th,
.time-acc-bx .table>thead>tr>td,
.time-acc-bx .table>thead>tr>th {
    font-weight: 600;
}

.bder-none .table>tbody>tr>td,
.bder-none .table>tbody>tr>th,
.bder-none .table>tfoot>tr>td,
.bder-none .table>tfoot>tr>th,
.bder-none .table>thead>tr>td,
.bder-none .table>thead>tr>th {
    border-top: none;
}

.time-acc-bx .form-control {
    padding: 0 5px;
    height: 35px;
}

.in-disa-center .form-control {
    text-align: center;
}

.time-acc-bx select {
    font-size: 12px;
}

.td-center .table>tbody>tr>td,
.td-center .table>thead>tr>th {
    text-align: center;
}

.td-center .table>tbody>tr>td:first-child,
.td-center .table>thead>tr>th:first-child {
    text-align: left;
}

.tab-edit .table>tbody>tr>td,
.tab-edit.table>tbody>tr>th,
.tab-edit table>tfoot>tr>td,
.cus-tabe2 .table>tfoot>tr>th,
.tab-edit .table>thead>tr>td,
.tab-edit .table>thead>tr>th {
    vertical-align: middle
}

.tab-edit .table {
    margin-bottom: 0;
}

.only-inp-center .table>tbody>tr>td.centr {
    text-align: center;
}

.mar-top20 {
    margin-top: 20px;
}

.md-right-only {
    text-align: right;
}

.mar-btm20 {
    margin-bottom: 30px;
}

.mar-cont div[class^="form-group"] {
    margin-bottom: 0 !important;
}

.mar-cont div[class^="form-group"] .form-control {
    border: 1px solid #333;
    box-shadow: none;
    background: rgba( 255, 255, 255, .05);
    color: #333;
}

.mar-cont div[class^="form-group"] select.form-control {
    background: #bbcee5;
}

.popover-content {
    font-size: 12px;
}

.disable-bg {
    background: #f8f8f8;
}

.mar-cont .form-group {
    position: relative;
}

.cal-ico-fix {
    position: absolute;
    right: 10px;
    top: 8px;
}

.data-bx-center {
    margin-top: 0;
}

.data-bx-center tr>td:last-child {
    text-align: center;
}

.fontsmall {
    font-size: 10px;
    font-weight: bold;
}

.small-btn.btn {
    padding: 6px 10px;
    font-size: 12px;
}

.modif2 li {
    min-height: 100px;
}

.modif2 li>span {
    display: block;
}

.abc {
    background: #ddd;
}

.abc h3 {
    font-size: 20px;
}

table select{color: #333;}
form[name="frmSiteSettings"] .not-valid-tip{position: absolute;bottom: -20px;}
/* form[name="frmSiteSettings"] .checkbox input[type="checkbox"]{margin-top: 1px;}
form[name="CommonWordList"]{margin-top: 20px;}
.dash-strip button.fav-ico{margin: 3px 0 0 0;}
.cus-form-ico label{margin-top: 6px;}
.cus-form-ico input[type="checkbox"]{margin-top: 1px; vertical-align: middle;} */

.search-bx.search-bx2.clearfix{display: inline-block; vertical-align: middle; width: 100%; float: none; margin-top: 0;}
.search-bx.search-bx2.clearfix .btn-style2.btn{padding: 6px 10px;}
#checkbox_create_role {
    vertical-align: bottom;
    margin-right: 4px;
}
.create_chk {
    margin-top: 28px;
}

@media (max-width: 992px) {
    .top-nav>li>a span.sm-hide {
        display: none;
    }
    .cont-box {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 767px) {
    .custom-nav>li>a {
        border-right: none;
        text-align: center;
        padding: 20px 0;
    }
    .custom-nav>li>a:hover {
        background: #58b9d6 !important;
    }
    .data-bx .table-bordered {
        border: 1px solid #fff;
    }
    .top-nav>li>a span.name-bx2 {
        display: none;
    }
    .logo,
    .top-nav,
    .custom-nav li a {
        text-align: center;
    }
    .top-nav li>a i {
        font-size: 18px;
    }
    .custom-nav .dropdown-menu {
        background-color: #fff !important;
    }
    .cont-box,
    .dash-strip,
    .search-bx,
    .app-detail-bx {
        padding-right: 20px;
        padding-left: 20px;
    }
    .brd-crmb li {
        padding: 0 10px 0 0;
        margin-right: 10px;
    }
    .brd-crmb ul {
        margin: 0;
        padding: 0 20px;
    }
    .bdr-btn span {
        top: 14%;
    }
    .cus-form-cont div[class^="col-sm"] div>.checkbox {
        text-align: left;
    }
    .custom-navbar .navbar-toggle:hover {
        background-color: #6cc6e1 !important;
    }
    .custom-navbar .navbar-toggle .icon-bar {
        background: #fff;
    }
    .fix-txt2 {
        padding: 15px 0;
    }
    .md-right-only {
        text-align: left;
    }
}